body {
	background: #fff;
	font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1.4;
	margin: 0 0;
	margin-bottom: 100px;
}
em {
	color: #999;
}
p {
	line-height: 1.6;
	font-size: 90%;
}

a {
	color: #2C85B1;
	text-decoration: none;
	font-weight: 400;
}
ul {
	margin-bottom: 0;
}
section {
	margin: 1em 0 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
#resume {
	margin: 2em 2em 2em 2.5em;
	max-width: 760px;
}


h1,h2{
	border-bottom: 3px solid black;
	text-transform: uppercase;
}

h1 {
	padding-bottom: 15px;
}

h2 {
	padding-bottom: 10px;
}

.main .name{
	font-weight: bold;
}

.main .label{
	opacity: 0.5;
}


.about .contacts{
	text-align: right;
}



.company-name{
	opacity: 0.5;
}

.highlights{
	padding-top: 20px;
}

.heading header h1 {
	font-size: 180%;
	margin: 0.5em 0;
	font-weight: 600;
}

.heading header h2 {
	font-size: 140%;
	margin: 0;
	font-weight: 400;
}

.heading header .contact .detail {
	margin: 0 1em 0 0;
}

.profile {
	display: inline-block;
	margin: 0 1em 0 0;
}

.profile strong,
.profile span {
	display: inline-block;
	margin: 0 1em 0 0;
}
/* section / line breaks */
section h2 {
	font-size: 140%;
	margin: 0 0 1em;
	text-transform: uppercase;
	font-weight: 400;
}

.item header h3 {
	margin: 0.2em 1em 0.2em 0;
	display: inline-block;
	font-weight: 600;
}

.item header a {
	display: inline-block;
}

.item .position {
	font-weight: 600;
	font-size: 100%;
	margin: 0.2em 1em 0.2em 0;
}

.item .highlights {
	list-style: square;
	font-size: 90%;
}

/* skills */
#skills .item {
	font-size: 100%;
	padding-bottom: 10px;
}

#skills .item .name {
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 1em 0 0;
	width: 23%;
	vertical-align: top;
}

#skills .item .keywords {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}


